<!doctype html>
<html>
    <head>
        <title>Crypto Pairs Dashboard</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.jpg" alt="Etsy Logo">
        </header>
        {{{body}}}
    </body>
</html>